<div class="row">
  <div class="col-12">
    <form class="form-inline">
      <div class="form-group mb-2">
        <label for="reagent"></label>
        <input type="text" id="reagent" name="reagent" class="form-control"
               [ngbTypeahead]="searchReagent" [resultFormatter]="resultFormatter"
               [ngModel]="addingReagent.reagentName"
               (selectItem)="reagentSelected($event)">
      </div>
      <div class="form-group mb-2">
        <label for="count"></label>
        <input type="number" id="count" name="count" class="form-control"
               [(ngModel)]="addingReagent.count">
      </div>
      <div class="form-group mb-2">
        <button class="btn btn-primary" (click)="addNewReagent()">Add</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <td>Reagent</td>
        <td>Count</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reagent of reagents">
        <td>{{reagent.reagent.name}}</td>
        <td>{{reagent.count}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
